<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Login to What Sup!</h2>
        </div>
        {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
        <div class="text-center">
            <h5>Not a registered user? <a href="/user/register">Signup here!</a></h5>
        </div>
        {{/if}}
        <br>
        <form class="card-body" action="/user/login" method="POST">
            <div class="form-group">
                <label class="form-label" for="username">Username: </label>
                <input type="text" name="username" id="username" placeholder="name@email.com" required>
                <br>
                <label class="form-label" for="password">Password: </label>
                <input type="password" name="password" id="password" placeholder="*****" required>
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>