<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <div id="map" class="map"></div>
        </div>
    </div>
</div>

<!--Tom Tom SDK files-->
<script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.43.3/services/services-web.min.js"></script>
<script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.43.3/maps/maps-web.min.js"></script>
<script src="./js/map.js"></script>
<script>
    displayMap({{longitude}},{{latitude}});
</script>