<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Sign Up for What Sup!</h2>
        </div>
        {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
        {{/if}}
        <br>
        <form class="card-body" action="/user/create" method="POST" id="registrationForm">
            <div class="form-group">
                <label for="username">User Name: </label>
                <input name="username" id="username" placeholder="name@email.com" required>
                <br>
                <label for="password">Password: </label>
                <input name="password" id="password" placeholder="password" required>
                <br>
                <label for="confirmPassword">Confirm Password: </label>
                <input name="confirmPassword" id="confirmPassword" placeholder="password" required>
                <p>** Your password will be securely encrypted to our database! **</p>
                <label for="firstName">First Name: </label>
                <input name="firstName" id="firstName" placeholder="John" required>
                <br>
                <label for="lastName">Last Name: </label>
                <input name="lastName" id="lastName" placeholder="Smith" required>
                <br>
                <label for="zip">5 Digit Zip Code: </label>
                <input name="zip" id="zip" placeholder="12345" required>
            </div>
            <button class="btn btn-primary" type="submit" name="submit" id="submit">Register</button>
        </form>
    </div>
</div>