<form action="/user/create" method="POST">
<label for="username">Username: </label>
<input name="username">
<label for="password">Password: </label>
<input name="password" type="password">
<label for="firstName">First Name: </label>
<input name="firstName">
<label for="lastName">Last Name: </label>
<input name="lastName">
<label for="zip">Zip Code: </label>
<input name="zip">
<button type="submit">Register</button>
</form>