{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/">The Tech Blog</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row">
    <a href="/dashboard">Dashboard</a>
  </footer>
</body>

</html>
<script src="/javascript/logout.js"></script> --}}

{{<!DOCTYPE html>
<html lang="en-us">

<head>
    {{!-- <!-- Metadata --> --}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>What Sup!</title>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- Fonts -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=McLaren&display=swap">
<!-- Local CSS -->
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
  <header>
    <h1>What Sup!</h1>
    <nav class="topnav" id="myTopnav">
      <a href="./index.html" class="active">Home</a>
      <a href="./about.html">About</a>
      <a href="./search.html">Search</a>
      <a href="./help.html">Help</a>
      <a href="./login.html">Login</a>

      <!-- Mobile responsive navigation bar -->
      <a href="javascript:void(0);" class="icon" onclick="navBar()"><i class="fa fa-bars"></i></a>
    </nav>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>
  {{!-- <div class="container" style="padding-left:16px">
    <h2>Welcome to What Sup!</h2>
    <br>
    <p>What Sup is an app that informs users what is going on in their area.</p>
    <p></p>
  </div> --}}

  <!-- Local JS -->
  <script type="text/javascript" src="assets/js/script.js"></script>

</body>

</html>}}